@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}


/* Sticky bar */
.sticky{
    display: flex;
    border: 1px solid #ccc;
    font-size: 17px;
    background: #fff;
    padding: 8px;
    position: sticky;
    top: 0;
    left: 0;
    font-family: Helvetica, Arial, sans-serif;
    z-index: 2;
}

.sticky > :first-child{
    margin: auto;
}

.sticky > :first-child a{
    color: #f06e1a;
    text-decoration: none;
}

.sticky > :first-child a:hover{
    color: #f0ae1a;
}

.sticky .btn{
    background: black;
    padding: 4px 36px;
    cursor: pointer;
}

.sticky .btn:hover{
    background: #3a3939;
}

.sticky .btn a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}


/* Wrapper */
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Navbar */
.header{
    display: block;
    padding-top: 20px;
}

.navbar{
    margin-top: 22px;
}

.navbar ul li:first-child{
    margin-right: 10px;
}

.navbar ul li:first-child a{
    background-image: url(https://en.areality.sk/img/icons/main-menu-home.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 14px;
}

.hamburgerMenu{
    display: none;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin-right: 10px;
    min-width:fit-content;
}

.navbar ul li a{
    text-decoration: none;
    color: #606060;
    font-size: 13pt;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
    padding: 2px 12px;
}

.navbar ul li:nth-child(5) a{
    background-image: url(https://www.areality.sk/img/icons/icon-menu-inzerat-small.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 34px;
}

.navbar ul li:nth-child(6) a{
    background-image: url(https://www.areality.sk/img/icons/icon-menu-dopyt-small.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 34px;
}

.navbar ul li a:hover, .active{
    color: #fff !important;
    background-color: #1a93d8;
}

.navbar ul li:first-child:hover a{
    background-color: #fff;
}


/* Breadcrumb */
.breadcrumb{
    color: #acacac;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.breadcrumb span a{
    color: #acacac;
    text-decoration: none;
    font-size: 11px;
}

.breadcrumb span a:hover{
    text-decoration: underline;
}


/* Container */
.container{
    display: flex;
}

.container .left{
   width: 55%;
}

.container .right{
    width: 44%;
    margin-left: 33px;
}

h1{
    color: #1f1f1f;
    font-weight: 300;
    font-size: 17pt;
    background-image: url(https://www.areality.sk/img/icons/icon-header.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-bottom: 4px;
    line-height: 30px;
    margin: 0 0 17px;
}

.container .left img:first-child{
    width: 100%;
    height: auto;
}

.container .left .actions{
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
}

.container .left .actions a{
    text-decoration: none;
    color: #626262;
    padding: 5px 10px;
    margin-right: 13px;
    font-size: 10pt;
    margin-top: 10px;
}

.container .left .actions a:first-child{
    color: #fff;
    background-color: #f06e1a;
}

.container .left .actions a:hover{
    text-decoration: underline;
}

.container .actions a:nth-child(2){
    background-image: url(./images/share.png);
    background-repeat: no-repeat;
    padding-left: 34px;
}

.container .actions a:nth-child(3){
    background-image: url(./images/print.png);
    background-repeat: no-repeat;
    padding-left: 34px;
}

.container .actions a:nth-child(4){
    background-image: url(./images/pdf.png);
    background-repeat: no-repeat;
    padding-left: 34px;
}

.container .left .para h2{
    color: #333;
    margin: 8px 0;
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.6px;
}

.container .left .para{
    color: #333;
    margin: 10px 0;
    line-height: 21px;
    font-size: 15px;
    margin-top: 30px;
}

.container .left .para #extendParaBtn{
    color: #f06e1a;
    font-size: 15px;
}

.container .left .para #extendParaBtn{
    text-decoration: none;
    cursor: pointer;
}

.container .left .para #extendedPara{
    display: none;
    font-size: 15px;
}

/* Map */
.map{
    margin: 34px 0;
}

.left .map{
    display: block;
}

.right .map{
    display: none;
}

/* btnContainer */
.right .btnContainer{
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
    top: 0;
    flex-wrap: wrap;
    position: relative;
}

.left .btnContainer{
    display: none;
}

.btnContainer a:first-child{
    background-color: #41a72a;
    background-image: url(https://www.areality.sk/img/icons/icon-topovat-30x30.png);
    background-position: 2px 2px;
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 5px 7px;
    color: #fff;
    padding-left: 32px;
    height: fit-content;
    font-size: 11pt;
    margin-top: 2px;
}

.btnContainer a:nth-child(2){
    margin-left: 15px;
    background-color: #f2461f;
    background-image: url(https://www.areality.sk/img/icons/icon-nahlasit-30x30.png);
    background-position: 2px top;
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 5px 7px;
    color: #fff;
    padding-left: 32px;
    height: fit-content;
    font-size: 11pt;
    margin-top: 2px;
}

.btnContainer a:hover{
    text-decoration: underline;
}

/* Table */
.table{
    width: auto;
}

.table ul{
    list-style: none;
    line-height: 35px;
    font-size: 11pt;
}

.table .separator2{
    width: 100%;
    background-color: #bbbbbb;
    height: 1px;
}

.table ul li:first-child span:nth-child(2) a{
    display: flex;
    flex-direction: column;
}

.table ul li:first-child span:nth-child(2) a{
    margin-top: -13px;
    text-decoration: underline;
    color: #f06e1a;
}

.table ul li{
    color: #898989;
    margin-left: 2px;
    display: flex;
    justify-content: space-between;
}

.table ul li span:nth-child(2){
    color: #333;
    width: 49%;
    display: table-cell;
}


/* Contact Form */
.contactForm{
    width: auto;
}

.contactForm h3{
    font-weight: 300;
    color: #1f1f1f;
    font-size: 22px;
    margin: 20px 0;
    margin-top: 50px;
}

.contactForm form{
    display: flex;
    flex-direction: column;
}

.contactForm form input,.contactForm form textarea{
    border: none;
    border-radius: 2px;
    margin-bottom: 9px;
    background-color: #ebebeb;
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
}

.contactForm form .checkbox{
    height: auto;
}

.contactForm form .checkbox-label{
    font-size: 13px;
    font-weight: 600;
    padding-left: 7px;
    color: #333333;
}

.contactForm form textarea{
    height: 160px;
}

.contactForm form label{
    font-size: 14px;
    font-weight: 600;
}

.contactForm form span{
    font-size: 13px;
    padding-left: 23px;
}

.contactForm form .btnArrow{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #1a93d8;
    text-align: center;
    width: auto;
    padding: 0 15px;
    cursor: pointer;
    max-width: 240px;
    margin: 18px 0;
    margin-top: 35px;
}

.contactForm form .btnArrow::after{
    right: -40px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(26,147,216,0);
    border-left-color: #1a93d8;
    border-width: 20px;
    margin-top: -20px;
    z-index: 100;
}

.contactForm .contactInfo{
    display: flex;
    flex-direction: column;
    line-height: 21px;
    font-size: 14px;
    margin: 20px 0;
}

.contactForm .contactInfo strong{
    color: #333333;
}

.contactForm .contactInfo span a{
    text-decoration: none;
    color: #f06e1a;
}

.contactForm .contactInfo span a:hover{
    text-decoration: underline;
}

/* Container 2 */
.container2{
    margin: 42px 0;
    overflow-x: hidden;
}

.container2 h2{
    color: #1f1f1f;
    font-weight: 300;
    font-size: 17pt;
    background-image: url(https://www.areality.sk/img/icons/icon-header.png);
    background-position: left top;
    background-repeat: no-repeat;
    line-height: 30px;
    padding-left: 45px;
    margin: 0 0 20px;
}

.container2 h2 a{
    color: #1f1f1f;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.container2 h2 a:hover{
    text-decoration: underline;
}

.container2 .innerContainer{
    display: flex;
    justify-content: space-between;
}

.container2 .innerContainer .box{
    display: flex;
    flex-direction: column;
    line-height: 21px;
}

.container2 .innerContainer .box p{
    color: #797979;
    font-size: 10pt;
    padding-top: 2px;
}

.container2 .innerContainer .box strong{
    color: #1f1f1f;
}

.container2 .innerContainer img{
    width: 282px;
    height: auto !important;
}

.container2 .innerContainer a{
   color: #028ad8;
   font-size: 11pt;
}


/* Search Navigator */
.search-navigator{
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    padding-right: 27px;
}

.search-navigator img{
    width: 200px;
}

.search-navigator div{
    margin-right: 10px;
    line-height: 12px;
}

.search-navigator  div:nth-child(2), .search-navigator  div:nth-child(3), .search-navigator  div:nth-child(4), .search-navigator  div:nth-child(5){
    display: block;
}

.search-navigator  div:nth-child(6), .search-navigator  div:nth-child(7){
    display: none;
}

.search-navigator li{
    list-style: none;
}

.search-navigator li a{
    color: #afafaf;
    font-size: 8pt;
    line-height: 16px;
    text-decoration: none;
}

.search-navigator a{
    margin-right: 34px;
}

.search-navigator li a:hover{
    text-decoration: underline;
}

/* Footer */
.footer{
    width: fit-content;
    margin: 29px auto;
    font-size: 13px;
    margin-bottom: 15px;
}

.footer a{
    text-decoration: none;
    color: #f06e1a;
}

.footer a:hover{
    text-decoration: underline;
}

/* Separator */
.separator{
    width: 100%;
    background-color: #e8e8e8;
    height: 1px;
    margin: 26px 0;
}

/* Responsive code */

@media only screen and (max-width: 804px) {
    .separator3{
        width: 100%;
        background-color: #bbbbbb;
        height: 1px;
    }
    .header .logo img{
        width: 255px;
    }
    .right .btnContainer{
        display: none;
    }
    .left .btnContainer{
        display: flex;
    }
    .left .btnContainer a{
        width: 50%;
        font-size: 10pt;
        text-transform: lowercase;
    }
    .container .left .para h2 {
        letter-spacing: normal;
        font-size: 13pt;
    }
    .container .left .para {
        line-height: 18px;
        font-size: 10pt;
        margin-top: 10px;
    }
    .table ul{
        font-size: 10pt;
    }
    .left .map{
        display: none;
    }
    .right .map{
        display: block;
        margin-top: 26px;
        margin-bottom: 0px;
        width: -webkit-fill-available;
    }
    .container2{
        margin: 26px 0;
    }
    .search-navigator  div:nth-child(2), .search-navigator  div:nth-child(3), .search-navigator  div:nth-child(4), .search-navigator  div:nth-child(5){
        display: none;
    }

    .search-navigator  div:nth-child(6), .search-navigator  div:nth-child(7){
        display: block;
    }
    .footer{
        text-align: center;
        line-height: 21px;
        padding-bottom: 10px;
    }
    h1{
        padding-left: 0;
        background-image: none;
    }
    .right{
        width: auto !important;
        margin-left: 0 !important;
    }
    .left{
        width: auto !important;
    }
    .container{
        flex-direction: column;
    }
    .container2 .innerContainer{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .wrapper{
        margin: 0 6px;
    }
  }

@media only screen and (max-width: 804px) {
    .navbar{
        display: none;
    }
    .hamburgerMenu{
        display: block;
    }
    .btnContainer{
        flex-wrap: nowrap;
    }
    .hamburgerMenu .list-items{
        width: -webkit-fill-available;
        position: absolute;
        top: 124px;
        left: 0;
        background-color: #fff;
        padding: 10px 20px;
        list-style: none;
        line-height: 30px;
        display: none;
    }
    
    .hamburgerMenu .list-items li:hover, .hamburgerMenu .list-items li:hover a{
        color: #fff !important;
        background-color: #028ad8;
    }
    
    .hamburgerMenu .list-items li{
        padding: 3px 0;
    }
    .active2{
        background-color: #028ad8;
    }
    .active2 a{
        color: #fff !important;
    }
    .hamburgerMenu .list-items a{
        padding: 3px 9px;
        text-decoration: none;
        color: #5d5b5b;
        font-size: 11pt;    
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hamburgerBtn{
        font-size: 30px;
        color: #fff;
        background-color: #bbbbbb;
        padding: 2px 10px;
        cursor: pointer;
    }
    .contactForm form .btnArrow{
        max-width: -webkit-fill-available !important;
    }
    .contactForm form .btnArrow::after{
        display: none;
    }
    .breadcrumb{
        display: none;
    }
  }

@media only screen and (max-width: 751px) {
    .search-navigator{
        display: none;
    }
    .search-navigator + .separator{
        display: none;
    }
}

@media only screen and (max-width: 510px) {
    .sticky .btn{
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 595px) {
    .container2 .innerContainer img {
        width: 46vw;
    }
}

@media only screen and (max-width: 527px) {
    .container2 .innerContainer img {  
        width: 94vw;
    }
}

@media only screen and (max-width: 510px) {
    .sticky div{  
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 487px) {
    .actions a{
        margin-top: 5px;
    }
}